.header__lang-link {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transition: opacity .3s ease;
}

.header__lang-link:hover {
  opacity: .3;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
