@import url(./__item/photo-gallery__item.css);

.photo-gallery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 auto;
  grid-auto-rows: 213px;
}
