@import url(./__item/photo-gallery__item.css);
@import url(./__list/photo-gallery__list.css);
@import url(./__pic/photo-gallery__pic.css);

.photo-gallery {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .photo-gallery {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-gallery {
    max-width: 720px;
  }
}
