@import url(./__lang-link/header__lang-link.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang-item/header__lang-item.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    width: 1184px;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}