.cover__container {
  max-width: 100%;
  width: 100%;
  padding: calc((62.5% - 250px)/2) 0;
  background: url(../../../images/cover_img.jpg) no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.cover__container::after {
  content: "";
  display: block;
  background-color: rgba(42, 44, 47, .3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: background-color .3s ease;
}

.cover__container:hover::after {
  background-color: rgba(42, 44, 47, .8);
 }

 @media screen and (max-width: 767px) {
  .cover__container {
    padding: calc((62.5% - 134px)/2) 0;
  }
}
