.places__description-paragraph {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.places__description-paragraph:last-child {
  margin-bottom: 0;
}
