@import url(./__item/intro__item.css);
@import url(./__item/_bold/intro__item_bold.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
  padding: 92px 0;
  color: #fff;
  max-width: 690px;
  width: 100%;
}
