.photo-gallery__list {
  max-width: 100%;
  width: 100%;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px;
  margin: 0 auto;
  grid-auto-rows: 213px;
}

@media screen and (max-width: 1279px) {
  .photo-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 14px;
    grid-auto-rows: 225px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-gallery__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 264px);
    grid-gap: 16px;
    grid-auto-rows: 264px;
  }
}
