.lead__subtitle {
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  max-width: 640px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
