@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

 .cover {
   max-width: 1184px;
   min-height: 740px;
   margin: 92px auto 0;
   color: #fff;
   background: url(../../images/cover_img.jpg) no-repeat;
   background-size: cover;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   text-decoration: none;
 }

 .cover::after {
   content: "";
   display: block;
   background-color: rgba(42, 44, 47, .3);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   transition: background-color .3s ease;
 }

 .cover:hover::after {
  background-color: rgba(42, 44, 47, .8);
 }

 @media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

