@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__container/cover__container.css);

 .cover {
   display: block;
   max-width: 1184px;
   text-decoration: none;
   margin: 0 auto;
 }

 @media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    max-width: 100vw;
  }
}

